<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<!-- bcarter template.html -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="template_live.css">
		<title>Tempalte</title>
	</head>
	<body>
		<div id="header">
			<h1>Stocksell NZ (selling livestock with ease)</h1>
		</div>
		<ul id="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="layout.html">Possible Layout</a></li>
			<li><a href="goal.html">Our goal</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul><!--Navigation-->
		<div id="main">
		</div>
		<div id="foot">
			<p>Designed by Blake Carter</p>
		</div>
	</body>
</html>